*{
  margin:auto;
  font-family: Poppins;
  font-size: 1.2rem;  
}
Body{
  background-color:#FFEFD5;
  font-family: 'Poppins', sans-serif;
  color: #228B22;
} 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
